*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(104, 104, 104);
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  position: fixed;
  bottom: 350px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
  border: 2px solid rgb(66, 66, 180);
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.items {
  position: fixed;
  top: 50px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}
.add-btn{
  margin-left: 2px;
  margin-right: 2px;
}
.form-items{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group{
  display: flex;
  height: 10px;
  justify-content: center;
  align-items: center;
}
.float-right{
  float: right;
}